<header>
  <img
    src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
    alt=""
  />
  <ul class="mb-0">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/" class="mx-2">MyComponent</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/switch-case" class="mx-2">Switch Case</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/loops" class="mx-2">Loops</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/form" class="mx-2">Form</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/reactive-f" class="mx-2">Reactive-F</a>
    </li>
  </ul>
</header>
